@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.link.active {
  @apply text-green-500 font-medium after:content-[''] after:absolute after:top-1/2 after:-translate-y-1/2 after:-right-3 bg-green-50  after:bg-green-500 after:w-[2.5px] after:h-[90%] transition-all duration-150 ease-in-out;
}

.count-box {
  background-image: linear-gradient(
      55deg,
      rgba(250, 250, 250, 1),
      rgba(250, 250, 250, 0.5)
    ),
    url("/Hexagon.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.markOdd:nth-child(odd) {
  @apply bg-[#e4e3e533];
}

.scrolless::-webkit-scrollbar {
  display: none;
}
